@font-face {
    font-family: "RobotoBlack";
    src: url(Fonts/Roboto-Black.ttf) format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: 'RobotoBLL' format(truetype);
    src: url(Fonts/Roboto-LightItalic.ttf);
    font-weight: italic;
}

@font-face {
    font-family: 'RobotoBlack' format(truetype);
    src: url(/onts/Roboto-Bold.ttf);
    font-weight: bold;
}

/*all above is font */
/*margin*/
body, blockquote{
    margin: 0;
}


/*text*/
* {
    font-family: 'RobotoBlack', sans-serif;
    color: red;
}

/*colors*/
.navbar, footer, .headerbox {
    background-color: #1f2937;

}
.mainbox {
  background-color: white;
}

.quotebox {
    background-color: #e5e7eb;
}

.asidebox{
    background-color: #3882f6;
}

.b {
    background-color: white;
}
/* nav toolbar*/

.navbar {
    display: flex;
    height: 5vh;
    
}
.nav {
    flex: 1;
}

.logo {
    flex: 4;
    text-align: center;
}


/*below all boxes*/

/* header and header box */

.headerbox {
    display: flex;
    height: 22.5vh;
    align-items: center;
    justify-content: center;
    gap: 150px;
}
.img{
    align-self: auto;
}
.texth{
    align-self: auto;

}
/*main and mainbox*/

.mainbox {
    display: flex;
    flex-direction: row;
    height: 22.5vh;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.b {
    width: 100px;
    height: 100px;
}

.b1 {
    border: 1px solid rgba(0, 0, 0, 3);
    border-radius: 5px;
   
}

.b2 { 
    border: 1px solid rgba(0, 0, 0, 3);
    border-radius: 5px;
}

.b3 {
    border: 1px solid rgba(0, 0, 0, 3);
    border-radius: 5px;
}

.b4 {
    border: 1px solid rgba(0, 0, 0, 3);
    border-radius: 5px;
}

/*quotebox*/

.quotebox {
    height: 27.5vh;
    width: 100%;
}

/* asdiebox */

.asidebox {
    flex-direction: row;
    height: 15vh;
    border-radius: 5px;
    margin-block: 100px;
    margin-inline: 100px;
}

/*footer*/
footer {
    font-size: 18px;
    text-align: center;
    height: 7.5vh;
}

.b p {
    margin-top: 100px;
    text-align: center;
}